body {
    font-size: 24px;
    line-height: 36px;
    font-weight: 200;
}
input {
    background-color: none;
    border: 1px solid;
    line-height: 0;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: gray;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
}
input:focus {
    outline: none;
    background:lightgray;
    color: white;
}
.status {
    color: #CF2A27;
}