{% extends 'CALL/base.html' %}
{% load static %}
{% block body %}
    <section class="d-flex align-items-center b3">
        <div class="container-flex">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
              <h1>CALL</h1>
              <h2>Call Analysis Linguistic Lab</h2>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
              <img src="{% static 'CALL/img/bg_main.png' %}" class="img-fluid anim" alt="">
            </div>
          </div>
        </div>
        </section>
        <section class="d-flex align-items-center justify-content-center b3">
        <div class="container-flex justify-content-center">
          <div class="col-lg-12 d-flex flex-column justify-content-center h600">
            <iframe width="280" height="315" src="https://www.youtube.com/embed/mkggXE5e2yk" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
    </section>
{% endblock %}