<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Aplicación</title>
</head>
<body>
    <header id="header" class="b3">
        <div class="container-flex">
            <div class="row justify-content-between">
                <div class="col-4">
                  <img src="../public/img/descarga.png" class="h" alt="">
                </div>
                <div class="col-4 justify-content-end df">
                  <img src="../public/img/bbva.png" class="h2" alt="">
                </div>
              </div>
      </header><!-- End Header -->
    <section  class="d-flex align-items-center b3">
        <div class="container-flex">
            <div class="row">
              <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>Name of application</h1>
                <h2>Description</h2>
              </div>
              <div class="col-lg-6 order-1 order-lg-2">
                <img src="../public/img/hero-img.png" class="img-fluid anim" alt="">
              </div>
            </div>
          </div>
    </section>
    <section class="d-flex align-items-center justify-content-center b3">
        <div class="container-flex justify-content-center">
            <div class="col-lg-12 d-flex flex-column justify-content-center h600">
                <iframe width="280" height="315" src="https://www.youtube.com/embed/mkggXE5e2yk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>