<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'CALL/css/styles.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'CALL/css/styles_input.css' %}" type="text/css">
  <link rel="shortcut icon" href="{% static 'CALL/img/logo3.ico' %}" type="image/x-icon">
  <script src="https://use.fontawesome.com/e74f6e6785.js"></script>
  <title>CALL - Call Analysis Linguistic Lab</title>
</head>

<body>
  <header id="header" class="c1" style="background-color: #072146;">
    <div class="container-flex">
      <div class="row justify-content-between h101">
        <div class="col-4">
          <img src="{% static 'CALL/img/logoblanco2-1.png' %}" class="h m1" alt="">
        </div>
        <div class="col-4 justify-content-end df">
          <img src="{% static 'CALL/img/bbva.png' %}" class="h2 m2" alt="">
        </div>
      </div>
    </div>
  </header><!-- End Header -->
  {% block body %}
  {% endblock %}
  <script src="{% static 'CALL/js/audio_file_validation.js' %}"></script>
  <script src="{% static 'CALL/js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>